.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
.php_cs.cache
.idea
.vscode
*.log
*.md
!README.md
docs
tests
.editorconfig
.styleci.yml
phpunit.xml
